* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
}

.container {
  background: white;
  padding: 0.5rem;
  border-radius: 4px;
  max-width: 700px;
  margin: 10rem auto 1rem;
}

.inner-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.heading {
  font-size: 2rem;
  text-align: center;
}

.textarea {
  border: 1px solid #f2f2f2;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: #555;
  border-radius: 4px;
}

.btn {
  border: none;
  background: darkblue;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 4px;
  padding: 10px;
  transition: all 500ms ease-in;
  cursor: pointer;
  color: white;
}
.btn:hover {
  opacity: 0.8;
}

.helper-text {
  color: #333;
}

.error {
  color: tomato;
}
.success {
  color: green;
}
